.prescriptions-container {
    width: 100%;
    max-width: 1500px;
    margin: 1rem auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prescriptions-content-filter {
    margin: 0 auto;
    width: 100%;
}