.prescriptions-container {
    width: 100%;
    max-width: 1500px;
    margin: 1rem auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prescriptions-content-filter {
    margin: 0 auto;
    width: 100%;
}

thead > tr {
    padding-bottom: 2rem;
}

table {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.pagination button {
    margin: 0 0.2rem;
}

.pagination .active {
    background-color: black;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.pagination button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    padding: 20px;
    border-radius: 6px;
    min-width: 400px;
}

.modal label {
    display: flex;
    gap: 1rem;
}

.modal input {
    border-radius: 0.2rem;
    border: solid 1px black;
}

.filter-part {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;
    border: 1rem;
    background-color: #696969;
    color: white;
    border-radius: 0.5rem;
}

.filter-part label {
    margin-right: 1rem;
    margin-left: 3rem;
}

.filter-part label:first-child {
    margin-right: 1rem;
    margin-left: 1rem;
}

.filter-part input,
.filter-part select {
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: solid 1px black;
}

.modal-actions {
    display: flex;
    gap: 0.5rem;
}

.modal-actions {
    display: flex;
    gap: 0.5rem;
}

.cancel-update,
.save-update {
    padding: 0.3rem 0.5rem;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.cancel-update {
    background-color: red;
}

.save-update {
    background-color: green;
}

.filterForm-ctrl-btns button {
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: aliceblue;
}